<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <!--<link rel="stylesheet" href="/static/style.css">-->
</head>
<body>
    <div class="car">
        <div class="name">name: {{ name }}</div>
        <div class="year">year: {{ year }}</div>
        <div class="color">color: {{ color }}</div>
        <div class="number">number: {{ number }}</div>
        <div class="owner">owner: {{ owner }}</div>
        <div class="last_visit">last visit: {{ last_visit }}</div>
        <div class="last_fixup">last fixup: {{ last_fixup }}</div>
        <div class="back">
            <a href="/">Back</a>
        </div>
    </div>
</body>
</html>